body {
    background-color: #b3e2ea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    align-items: center;
}
.create{
    margin-top: 150px;
    border-style: solid;
    border-width: medium;
    border-color: white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    display: inline-block;
}

.name-location-date, .style-title {
    display: inline-block;
}

.comments {
    display: inline-block;
}
